<!-- Modal -->
<div class="modal fade" id="aviso-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="avisoModalLabel"><strong>AVISO DE PRIVACIDAD</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <p>
                        En cumplimiento de lo dispuesto en la Ley Federal de Protección de
                        Datos Personales en Posesión de los Particulares (en lo sucesivo la <b>"Ley"</b>)
                        y otras disposiciones nacionales e internacionales que resulten aplicables,
                        se da a conocer a nuestros clientes, proveedores, prestadores de servicios,
                        empleados, interesados en formar parte de nuestro equipo y a cualquier otra persona
                        titular de datos personales, el siguiente Aviso de Privacidad.
                    </p>
                    <p>
                        Operadora de Servicios Administrativos y de Recursos Humanos, S.A. de C.V.
                        (en lo sucesivo <b>“OPSARH”</b>), con domicilio en Atizapán de Zaragoza, Estado de México,
                        es responsable de recabar sus datos personales, del uso que se dé a los mismos
                        y de su protección.
                    </p>
                    <p>
                        Recabaremos su información de manera oral, escrita y/o a través de cualquier medio electrónico
                        y solicitaremos los datos personales que sean necesarios para la adecuada prestación de nuestros servicios
                        y para cumplir con las obligaciones legales a las que nos encontramos sujetos.
                    </p>
                   <p>
                       En virtud de lo anterior, y de conformidad con las disposiciones legales aplicables,
                       se hace de su conocimiento que requerimos obtener los datos personales para las finalidades
                       que se describen a continuación:
                   </p>
                    <p><b>a) Clientes</b>
                        Nombre y datos de contacto, tales como dirección, teléfono, teléfono de oficina,
                        número de fax, teléfono celular y correo electrónico entre otros; datos laborales, tales como ocupación,
                        lugar de trabajo, cargo, entre otros, e imágenes, fotografías, sonidos, voz y video.
                        Los datos que nos proporcione serán utilizados para proveer los servicios que brindamos con base en las instrucciones
                        del cliente; para informar a nuestros corresponsales, asesores, socios, clientes, empleados o profesionistas y proveedores
                        y prestadores de servicios, incluyendo, pero no limitado a notarios y corredores públicos, traductores y peritos en diversas materias
                        la información necesaria para desarrollar nuestras actividades; y para evaluar la calidad del servicio que brindamos.
                    </p>
                    <p>
                        <b>b) Proveedores y prestadores de servicios</b>
                        Nombre y datos de contacto, tales como dirección, teléfono, teléfono de oficina, número de fax, teléfono celular y correo electrónico
                        entre otros; datos laborales, tales como ocupación, lugar de trabajo, cargo, entre otros, e imágenes, fotografías, sonidos, voz y video;
                        adicionalmente requeriremos datos patrimoniales, tales como su Registro Federal de Contribuyentes y datos fiscales para facturación, datos bancarios y números de cuenta, entre otros.
                        Los datos personales que recopilemos se utilizarán para la facturación, pago y todos los fines vinculados con la relación comercial que celebremos con usted,
                        así como elaboración de expedientes administrativos de control interno.
                    </p>
                    <p>
                        <b>c) Empleados e interesados en formar parte de nuestro equipo</b>
                        Nombre y datos de contacto, tales como dirección, teléfono, teléfono de oficina, número de fax, teléfono celular y correo electrónico entre otros; datos laborales, tales como ocupación,
                        lugar de trabajo actual y anterior, cargo, entre otros, e imágenes, fotografías, sonidos, voz y video; adicionalmente recabaremos ciertos datos personales considerados como Datos Personales Sensibles,
                        incluyendo datos de salud, características personales y datos académicos, entre otros.
                        Los datos que nos sean proporcionados se utilizarán primordialmente y según corresponda para todos los fines vinculados con reclutamiento, selección y verificación de referencias.
                        Los datos personales que recabamos de los empleados son necesarios para llevar a cabo procesos internos del área de recursos humanos dentro OPSARH, entre los que se encuentran contar con la información
                        de contacto de los empleados, así como antecedentes laborales y académicos e información necesaria para cumplir con las obligaciones jurídicas derivadas de la relación laboral que mantiene OPSARH con sus empleados
                        ante diversas autoridades entre las que se encuentran de manera enunciativa, más no limitativa, el Instituto Mexicano del Seguro Social, el Instituto del Fondo Nacional de la Vivienda para los Trabajadores,
                        la Comisión Nacional del Sistema de Ahorro para el Retiro y el Sistema de Administración Tributaria.
                    </p>
                    <p> <b>d) Otros titulares de datos personales</b>
                        Dependiendo de la relación con OPSARH, se podrán recabar entre otros, nombre y datos de contacto, tales como dirección, teléfono, teléfono de oficina, número de fax, teléfono celular y correo electrónico entre otros;
                        datos laborales, tales como ocupación, lugar de trabajo, cargo, entre otros, e imágenes, fotografías, sonidos, voz y video; adicionalmente requeriremos datos patrimoniales, tales como su clave de Registro Federal de Contribuyentes
                        y datos fiscales para facturación, datos bancarios y números de cuenta, entre otros.
                        En caso de que usted nos proporcione datos personales de terceros, usted garantiza y es responsable de que los terceros aceptaron dicha transferencia.
                        Para OPSARH es muy importante contar con su información actualizada. Para ello, usted es responsable de que los Datos Personales proporcionados a OPSARH sean veraces y se hace responsable de comunicar cualquier modificación en los mismos.
                        Usted tiene puede ejercer los siguientes derechos en relación con sus datos personales:
                    </p>

                            <li>
                                Acceso: Usted tiene derecho de acceder a sus datos personales que obren en poder de OPSARH,
                                así como conocer el Aviso de Privacidad al que están sujetos sus datos personales.
                            </li>
                            <li>
                                Rectificación: En caso de que alguno de sus datos sea inexacto, cambie o se encuentre equivocado,
                                usted tendrá el derecho de solicitar su rectificación. Le pedimos considere que, por su protección y beneficio,
                                le solicitamos nos indique a qué datos personales se refiere, la corrección que haya de realizarse y presente,
                                en caso de ser necesario, documentación que acredite las correcciones a los datos que deseé rectificar.
                            </li>
                            <li>
                                Cancelación: Puede solicitar que se cancelen los datos personales que OPSARH conserve en
                                su expediente una vez que haya concluido nuestra relación, con excepción de aquella información que derivada de una
                                obligación legal deba ser conservada por un plazo mayor de tiempo.
                           </li>
                           <li>
                               Oposición: Si usted no desea que OPSARH trate sus datos personales para alguna de las
                               finalidades descritas anteriormente, usted podrá solicitarlo en todo momento.
                           </li>
                    <p>
                        Para ejercer el derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar
                        su consentimiento, es necesario que se ponga en contacto con nosotros en la siguiente cuenta electrónica contacto@opsarh.com.
                    </p>
                    <p>
                        Asimismo, le informamos que sus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a OPSARH.
                        En ese sentido, su información puede ser compartida con personas con las que tengamos una relación profesional, de negocios y/o sean proveedores de bienes o servicios
                        con el fin de que dichas personas realicen diversas actividades o presten servicios a nombre de OPSARH y/o de usted, y/ o con autoridades que así lo requieran con el único fin de cumplir
                        con las obligaciones derivadas de las leyes y/o tratados internacionales.
                    </p>
                    <p>
                        Al aceptar los términos de este Aviso de Privacidad usted autoriza de forma expresa a OPSARH para transferir sus datos personales a dichos terceros, sean nacionales o extranjeros.
                        Cualquier transferencia de datos estará sujeta a los fines señalados en el presente Aviso de Privacidad.
                    </p>
                    <p>
                        Se hace de su conocimiento que OPSARH cuenta con los soportes físicos y electrónicos, así como con las políticas y medidas de seguridad físicas, técnicas y administrativas para proteger y limitar el uso o divulgación de sus datos personales.
                    </p>
                    <p>
                        Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación
                        u ofrecimiento de nuestros servicios y prácticas del mercado. Estas modificaciones estarán disponibles a través nuestra página de Internet, www.opsarh.com, y/o por cualquier otro medio autorizado.
                    </p>
                    <p>Para cualquier duda o aclaración en relación con los datos personales proporcionados, puede contactarnos en el siguiente correo electrónico: contacto@opsarh.com.
                    </p>
                    <p>
                        La fecha de la última actualización al presente aviso de privacidad: [JULIO de 2021]
                    </p>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>