<section class="carousel-block light-blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Clientes</h2>
            </div>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators d-none d-md-flex">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <img src="/images/polyone.png" class="carousel slide" alt="...">
                    <div class="carousel-caption ">
                        <h5>PolyOne</h5>
                        <p>"Gracias a su asesoría en propiedad intelectual y contratos hemos tomado las mejores decisiones para nuestra estrategia de negocios."</p>
                        <p><a href="https://lasmezcas.com" target="_blank">https://lasmezcas.com</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>OKA MÉXICO</h5>
                        <p>"He recibido un excelente servicio por parte del Lic. Fernando López, todos mis mensajes y llamadas se respondieron inmediatamente. Estoy muy agradecida y satisfecha, ¡Muchas gracias!"</p>
                        <p><a href="https://www.okamexico.com" target="_blank">https://www.okamexico.com</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>RESTAURANTE ALCATRÁZ</h5>
                        <p>"Desde que abrí mi restaurante me orientaron para cumplir todas las obligaciones fiscales. Confío plenamente en todos los profesionales y sus asesorías me han ayudado a crecer mi negocio." </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>Sociedad Cooperativa Disfraces y Ropa de Niño Dios Andrés </h5>
                        <p>"Son expertos en administración y contabilidad de empresas." </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>URBAN SHOP</h5>
                        <p>"Me han ayudado de gran manera con la asesoría fiscal y contable de mi negocio, que me ha permitido crecer exponencialmente y yo ocuparme de la operación. Excelentes profesionales" </p>
                        <p><a href="https://www.urbanshop.mx" target="_blank">https://www.urbanshop.mx</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>AUDECO TEXTIL S.A. de C.V.</h5>
                        <p>"Nos ayudaron a conseguir proveedores internacionales y comenzamos las importaciones y exportaciones en nuestra empresa."</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>GENDES A.C.</h5>
                        <p>"Gracias por su asesoría pro bono pudimos actualizar los términos, condiciones y el aviso de privacidad de nuestra OSC."</p>
                        <p><a href="https://www.gendes.org.mx" target="_blank">https://www.gendes.org.mx</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>Marco Antonio Palacios</h5>
                        <p>"Estoy muy contento con el servicio que dan a todos mis locales comerciales. No he tenido ningún problema y resuelven mis dudas de impuestos y declaraciones." </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                <img src="..." class="d-block w-100" alt="...">-->
                    <div class="carousel-caption ">
                        <h5>SKALDION</h5>
                        <p>"Recomiendo los servicios de LOMAR a todas las empresas que van empezando y necesitan orientación profesional en diversos temas. Sus profesionales son altamente capacitados"</p>
                        <p><a href="https://www.skaldion.com" target="_blank">https://skaldion.com</a></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</section>
