<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name='contacto-opsarh' action='/exito' method='POST' data-netlify='true' class='needs-validation' novalidate>
                <div class="modal-body">
                    <p>Contáctanos usando el siguiente formulario:</p>
                    <div class="checkbox">
                    <label class="modal-services">Favor de indicar el o los servicios de tu interés:</label>
                    <div class="form-check">
                        <input
                                name='estructura-y-talento' class="form-check-input" type="checkbox" value="Si" id="flexCheckEstruct">
                        <label class="form-check-label" for="flexCheckEstruct">
                            Estructura y Talento Organizacional
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                name='gente-y-aprendizaje' class="form-check-input" type="checkbox" value="Si" id="flexCheckGente">
                        <label class="form-check-label" for="flexCheckGente">
                            Gente y Aprendizaje
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                name='reclutamiento-y-seleccion' class="form-check-input" type="checkbox" value="Si" id="flexCheckReclu">
                        <label class="form-check-label" for="flexCheckReclu">
                            Reclutamiento y Selección de Personal
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                name='compensacion-y-beneficios' class="form-check-input" type="checkbox" value="Si" id="flexCheckCompe">
                        <label class="form-check-label" for="flexCheckCompe">
                            Compensación y Beneficios
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                name='productividad' class="form-check-input" type="checkbox" value="Si" id="flexCheckProdu">
                        <label class="form-check-label" for="flexCheckProdu">
                            Productividad
                        </label>
                    </div>

                        <div class="form-check">
                            <input
                                    name='otro' class="form-check-input" type="checkbox" value="Si" id="flexCheckOtro">
                            <label class="form-check-label" for="flexCheckOtro">
                                Otro
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="emailInput">e-mail <span class="text-muted">(Obligatorio)</span></label>
                        <input
                                name='email' type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" required=''>
                        <div class="invalid-feedback">
                            Escribe tu cuenta de correo electrónico.
                        </div>
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu información con nadie. Lee nuestro Aviso de Privacidad</small>
                    </div>
                    <div class="form-group">
                        <label for="nombreInput">Nombre completo <span class="text-muted">(Obligatorio)</span></label>
                        <input
                                name='nombre' type="text" class="form-control" id="nombreInput" required=''>
                    </div>
                    <div class="form-group">
                        <label for="empresaInput">Empresa <span class="text-muted">(Obligatorio)</span></label>
                        <input
                                name='empresa' type="text" class="form-control" id="empresaInput" required=''>
                    </div>
                    <div class="form-group">
                        <label for="puestoInput">Puesto <span class="text-muted">(Obligatorio)</span></label>
                        <input
                                name='puesto' type="text" class="form-control" id="puestoInput" required=''>
                    </div>
                    <div class="form-group">
                        <label for="tel">Teléfono <span class="text-muted">(Opcional)</span></label>
                        <input
                                name='tel' type="tel" class="form-control" id="tel">
                    </div>
                    <div class="form-group">
                        <label for="modal-pregunta">Comentarios Adicionales <span class="text-muted">(Opcional)</span></label>
                        <textarea
                                name='preguntas' class="form-control" id="modal-pregunta" aria-describedby="pregunta"></textarea>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
