<section class="footer-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>OPSARH</h4>
                <p>
                    Empresa 100% mexicana con más de 15 años en el mercado, proporcionando a nuestros clientes soluciones ágiles en los procesos de recursos humanos bajo un entorno de confianza.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Contacto</h4>
                <table class='info-table'>
                    <tr>
                        <td>E-Mail:</td>
                        <td class='data'><a href='mailto: contacto@opsarh.com'>contacto@opsarh.com</a></td>
                    </tr>
                    <tr>
                        <td class='pb-3'></td>
                        <td class='data pb-3'><a href='tel:5512345678'></a></td>
                    </tr>
                    <tr>
                        <td class='pb-3'>Dirección Corporativa:</td>
                        <td class='data pb-3'>Atizapán de Zaragoza. Estado de México. México.</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Servicios</h4>
                <ul>
                    <% collections.sortedServices.forEach((navPage) => { %>
                        <% if (!navPage.data || !navPage.data.title) return;%>
                        <li>
                            <a class="navigation-item<%- ` ${page.url === navPage.url && 'active'}` %>"
                               href="<%- navPage.url %>">
                                <%= navPage.data.title %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 footer-section">
                <h4>Nuestras Redes Sociales</h4>
                <div class="row">
                    <div class="column-social">
                        <a href="https://www.facebook.com/opsarh.sa.7" target="_blank">
                        <img src="/images/facebook.svg" class="social-icon" alt="Facebook" >
                        </a>
                    </div>
                    <div class="column-social">
                        <a href="https://www.linkedin.com/in/opsarh-corporativo/" target="_blank">
                        <img src="/images/linkedin.svg" class="social-icon" alt="Linkedin" >
                        </a>
                    </div>
                    <div class="column-social">
                        <a href="https://www.instagram.com/opsarh_corp/" target="_blank">
                        <img src="/images/‌instagram.svg" class="social-icon" alt="Instagram" >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
