<section class='empleo-section white-bg'>
<div class="container">
<form class='w-lg-50 py-5' name="opsarh-empleo" method="POST" data-netlify="true" action='/exito'>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName4">Nombre Completo</label>
            <input name="nombre-completo" type="text" class="form-control" id="inputName4" placeholder="Nombre completo" required=''>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Escolaridad</label>
            <select name="escolaridad" id="inputState" class="form-control">
                <option>Posgrado</option>
                <option selected>Licenciatura</option>
                <option>Bachillerato</option>
                <option>Secundaria</option>
                <option>Primaria</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
                <label for="tel">Teléfono <span class="text-muted">(Opcional)</span></label>
                <input name='telefono' type="tel" class="form-control" id="tel">
            </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Correo electrónico</label>
            <input name="e-mail" type="email" class="form-control" id="inputEmail4" placeholder="e-mail" required=''>
        </div>
    </div>

    <div class="form-group">
        <label for="inputVacante">Tipo de Puesto</label>
        <input name="tipo-vacante" type="text" class="form-control" id="inputVacante" required=''>
    </div>
    <div class="form-group">
        <label for="inputPerfil">Describa brevemente su perfil laboral</label>
        <textarea name="resumen-perfil" class="form-control" id="inputPerfil" aria-describedby="perfil"  required=''></textarea>
    </div>
    <div class=' form-group'>
        <div class="custom-file">
            <input name="archivo" type="file" class="custom-file-input" id="customFile" required=''>
            <label class="custom-file-label" for="customFile" data-browse='Elegir'>Cargar Curriculum Vitae...</label>
        </div>
    </div>
    <div class="form-group">
        <label for="mensaje">Comentarios adicionales <span class="text-muted">(Opcional)</span></label>
        <textarea name='mensaje' class="form-control" id="mensaje" aria-describedby="mensaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
</section>
